@import '../../style/theme.less';

// * discussed with Hugh, add style for each component we want to use:
// * (to avoid large css file)
// @import 'antd/lib/button/style/index.less';

@btn-sq-bg: @sq-pink-1;
@btn-sq-bg: @sq-blue-1;

@btn-default-border: @sq-color;
@btn-disable-color: @sq-gray-4;
@btn-disable-bg: @sq-gray-2;
@btn-disable-border: @sq-gray-2;
