@import '../../style/theme.less';

// * discussed with Hugh, add style for each component we want to use:
// * (to avoid large css file)
// @import 'antd/lib/button/style/index.less';

@btn-primary-bg: @primary-pink-1;
@btn-primary-bg: @primary-blue-1;

@btn-default-border: @primary-color;
@btn-disable-color: @gray-4;
@btn-disable-bg: @gray-2;
@btn-disable-border: @gray-2;
