@import '@/style/theme.less';

.text {
  padding: 0;
  margin: 0;
}

// * font-family & color:
.large,
.largeSemiBold,
.body,
.bodyMedium,
.medium,
.small {
  font-family: 'inter';
}

// * font-size & line-height:
.large,
.largeSemiBold {
  font-size: 18px;
  line-height: 28px;
}

.body,
.bodyMedium {
  font-size: 16px;
  line-height: 24px;
}

.medium {
  font-size: 14px;
  line-height: 22px;
}

.small {
  font-size: 12px;
  line-height: 18px;
}

.extraSmall {
  font-size: 10px;
  line-height: 10px;
}

// * font-weight:
// regular:
.large,
.body,
.medium,
.small {
  font-weight: 400;
}

// medium:
.bodyMedium {
  font-weight: 500;
}

// semi-bold:
.largeSemiBold {
  font-weight: 600;
}

// * colors:
.sq-gray-9 {
  color: @sq-gray-9;
}

.sq-gray-8 {
  color: @sq-gray-7;
}

.sq-gray-7 {
  color: @sq-gray-7;
}

.sq-gray-6 {
  color: @sq-gray-6;
}

.sq-gray-5 {
  color: @sq-gray-5;
}

.sq-gray-4 {
  color: @sq-gray-4;
}

.sq-gray-3 {
  color: @sq-gray-3;
}

.sq-gray-2 {
  color: @sq-gray-2;
}

.sq-gray-1 {
  color: @sq-gray-1;
}

.sq-blue-1 {
  color: @sq-blue-1;
}

.sq-blue-2 {
  color: @sq-blue-2;
}

.sq-blue-3 {
  color: @sq-blue-3;
}

.sq-blue-4 {
  color: @sq-blue-4;
}

.sq-blue-5 {
  color: @sq-blue-5;
}

.sq-blue-6 {
  color: @sq-blue-6;
}

.sq-pink-1 {
  color: @sq-pink-1;
}

.sq-pink-2 {
  color: @sq-pink-2;
}

.sq-pink-3 {
  color: @sq-pink-3;
}

.sq-pink-4 {
  color: @sq-pink-4;
}

.sq-pink-5 {
  color: @sq-pink-5;
}

.sq-pink-6 {
  color: @sq-pink-6;
}

.sucess {
  color: @sq-sucess;
}

.warning {
  color: @sq-warning;
}

.sq-error {
  color: @sq-error;
}

.sq-info {
  color: @sq-info;
}