// * AntD Overrides

// here we can override any AntD variables.

// Note: component specific overrides should be applied in the component's folder
// for example '../components/Button/Button.less'

@height-base: 38px;
@height-lg: 48px;
@height-sm: 28px;
// @table-header-color: @gray-9;