@import '@/style/theme.less';

.buildDropdown {
  .headerDropdown();
}

.hover {
  color: @info;
}

.normal {
  &:hover {
    color: @info;
  }
}

.headerDropdown {
  height: 100%;
}

.buildDropdown {
  .headerDropdown();
}

.icon {
  color: @gray-5;
  margin-left: 8px;
}