@typography-title-margin-top: 0px;
@typography-title-margin-bottom: 0px;

h1,
h2,
h3,
h4,
h5,
h6 {
  //! doesnt work without important
  // color: @sq-gray-9;
  color: @sq-gray-9 !important;
}

h1,
h2,
h3 {
  font-family: Futura;
  font-weight: 700;
}

h4,
h5,
h6 {
  font-family: Inter;
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
}

//* FONT SIZE & LINE-HEIGHT
@heading-1-size: 80px;
@heading-2-size: 60px;
@heading-3-size: 48px;
@heading-4-size: 32px;
@heading-5-size: 24px;

//! I dont think the below works without !important,
//! cant find a good way to customise each levels line-height

h1 {
  font-size: 80px;
  line-height: 108px;
}

h2 {
  font-size: 60px;
  line-height: 88px;
}

h3 {
  font-size: 48px;
  line-height: 64px;
}

h4 {
  font-size: 32px;
  line-height: 36px;
}

h5 {
  font-size: 24px;
  line-height: 36px;
}

h6 {
  font-size: 20px;
  line-height: 30px;
}